{
  "overrides": [
    {
      "files": [".prettierrc", ".babelrc", ".stylelintrc"],
      "options": {
        "parser": "json",
        "printWidth": 120,
        "arrowParens": "always"
      }
    }
  ],
  "singleQuote": true
}
